<%- include('partials/header') -%>


<div>
<% if(request && request.length>0){ %>
<% for (var i = 0; i < request.length; i++) { %>
    <div class="pal-req-div">
        <form class="reqform" method="POST">
        <h2 style="padding-left: 2em;"><%= request[i].requesterUserName %></h2>
        <button type="button" class="accept-button btn-primary" data-id="<%= request[i]._id %>">Accept</button>
        <button type="button" class="reject-button btn-primary" data-id="<%= request[i]._id %>">Reject</button>
        </form>
   </div>
<% } %>
</div>
<% }else{ %>
    <p style="padding-left: 1em;">No pending requests</p>
<% } %>
<div>
    <a class="btn btn-primary profile-button" href="/profile">Return to profile</a>
</div>


<script>
    document.querySelectorAll('.accept-button').forEach(button => {
        button.addEventListener('click', function(event) {
            const form = this.closest('form');
            form.action = `/profile/pal-requests/${this.dataset.id}/accept-request`; // Make sure this is the complete path
            console.log(`Form action set to: ${form.action}`); // Log the action to verify
            form.submit();
        });
    });

    document.querySelectorAll('.reject-button').forEach(button => {
        button.addEventListener('click', function(event) {
            const form = this.closest('form');
            form.action = `/profile/pal-requests/${this.dataset.id}/reject-request`; // Ensure this is correct too
            console.log(`Form action set to: ${form.action}`); // Log the action to verify
            form.submit();
        });
    });
</script>

<%- include('partials/footer') -%>





